/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }

.nav-item {
    margin: 0px 15px;
    color: white !important;
    text-align: center;
}

.navbar-brand{
    margin: 0px 15px;
    color: white !important;
    text-align: center;
}

}
.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}



.hero {
    background-image: url("../images/coding.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    }


.sectionHeading {
    text-align: center;
}


.cardContainer {
/*    display: flex;*/
    text-align: center;
    align-items: center;
    margin-top: 15px;    
}

.card-body {
    margin-top:  15px;
    margin-bottom: 15;
}

.aboutCard {
   
}

.valueProp {
    margin-top:  15px;
    margin-bottom: 15;    
  }

  .contact {
    
    style="max-width: 100%;"
  }

.cardbody {
    margin-top:  15px;
    margin-bottom: 15;
}