/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
  }
  p {
    font-family: 'Jura', sans-serif;
  }

.nav-item {
    margin: 0px 15px;
    color: white !important;
    text-align: center !important;
}

.navbar-brand{
    margin: 0px 15px;
    color: white !important;
    text-align: center !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 90px;
    height: 90px;
}

.hero {
    background-image: url("../images/coding.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    }


.sectionHeading {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.card-title {
    text-align: left;
    font-weight: bolder;
}

.card-text {
    text-align: left;
}

.rounded-circle {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.card-body {
    margin-top:  15px;
    margin-bottom: 15;
}

.contact {
    max-width: 100%;
  }

.cardbody {
    margin-top:  15px;
    margin-bottom: 15;
}

#profile {
    height:200px;
    width: 200px;
}

#about {
    max-width: 100%;
    margin: 20px;
}

#project {
    margin-top: 15px;
}

#projects {
    margin-top: 15px;
}

#project-title {
    text-align: left;
}

#project-text {
    text-align: left;
}

#about {
    padding-top: 5px;
    padding-bottom: 5px;
}